.button1 {
  color: white;
  text-align: center;
  margin: auto;
  width: 200px;
  margin-top: 25px;
  padding: 25px 50px;
  background-color: rgb(15, 15, 15);
  border-radius: 1px;
  cursor: pointer;
  transition-duration: 0.5s;
}
.button1:hover {
  background-color: rgb(10, 10, 10);
}