@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0px;
  background-color: black;
  overflow: hidden;
  user-select: none;
}

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  background-color: rgba(0, 0, 0, 0.1);
}
  
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
}

* {
  margin: 0px;
  padding: 0px;
}

img {
  -webkit-user-drag: none;
}