@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0px;
  background-color: black;
  overflow: hidden;
  user-select: none;
}

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  background-color: rgba(0, 0, 0, 0.1);
}
  
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
}

* {
  margin: 0px;
  padding: 0px;
}

.hidden {
  display: none;
}

img {
  -webkit-user-drag: none;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;

  .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;

    &::after {
      content: " ";
      position: absolute;
      top: 100%; /* At the bottom of the tooltip */
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: black transparent transparent transparent;
    }
  }

  &:hover .tooltiptext {
    visibility: visible;
  }
}