/* .playlistImport {
    width: 100%;
    text-align: center;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding-top: 2px;
    padding-bottom: 2px;
    transition-duration: 0.3s;
}

#playlistImportList {
    top: 100px;
}

.importHeader {
    width: auto;
    height: auto;
    position: absolute;
    padding: 5px;
    margin-top: 20px;
    z-index: 15;
    left: 20px;
    color: white;
    font-size: 20px;
    text-align: left;
}

.SPthumbnail {
    width: 75px;
    height: 75px;
} */

.importHeader {
    width: auto;
    height: auto;
    position: absolute;
    padding: 5px;
    margin-top: 20px;
    z-index: 15;
    left: 20px;
    color: white;
    font-size: 20px;
    text-align: left;
}

.spotifyPlaylists .playlist {
    width: 100%;
    padding: 10px;
    height: 80px;
    border: 1px rgb(30, 30, 30) solid;
    transition-duration: 0.3s;
    cursor: pointer;
}

.spotifyPlaylists .playlist:hover {
    border-left: 5px rgb(255, 0, 0) solid;
}

.spotifyPlaylists {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    width: 100%;
    top: 100px;
}

.spotifyPlaylists .playlist .image {
    position: relative;
    width: 80px;
    height: 80px;
    overflow: hidden;
    float: left;
    border-radius: 10%;
    pointer-events: none;
}

.spotifyPlaylists .playlist .image img {
    position: absolute;
    display: inline-block;
    height: 100px;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spotifyPlaylists .playlist .title {
    color: white;
    display: inline-block;
    max-width: 200px;
    margin-left: 10px;
    font-size: 15px;
    pointer-events: none;
}

.spotifyPlaylists .playlist .owner {
    color: rgb(180, 180, 180);
    margin-left: 10px;
    display: inline-block;
    pointer-events: none;
}

.spotifyPlaylists .playlist .buttons {
    position: absolute;
    margin-top: 0px;
    right: 55px;
    width: 0px;
    height: 80px;
    transition-duration: 0.3s;
    border-radius: 10%;
    text-align: center;
}

.spotifyPlaylists .playlist .import {
    position: absolute;
    top: 25px;
    width: 20px;
    height: 20px;
    padding: 5px;
    transition-duration: 0.3s;
    border-radius: 10%;
    z-index: 50;
}

.spotifyPlaylists .playlist .import:hover {
    background-color: rgb(45, 45, 45);
}


.spotifyPlaylists .playlist .tooltip {
    width: 150px;
    height: auto;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    font-size: 20px;
    box-shadow: 1px 2px 10px rgba(255, 255, 255, .5);
    text-align: center;
    transform: translateX(-100%);
}

.spotifyPlaylists .playlist .tooltip button {
    width: 100%;
    text-align: center;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding-top: 2px;
    padding-bottom: 2px;
    transition-duration: 0.3s;
}

.spotifyPlaylists .playlist .tooltip button:hover {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}