#deleteData-button {
  background-color: rgb(50, 10, 10);
}
#deleteData-button:hover {
  background-color: rgb(200, 10, 10);
}
#settings {
  position: absolute;
  color: white;
  height: 100%;
  width: 100%;
  top: 0px;
  overflow-y: auto;

  #info {
    text-align: center;
    padding: 20px;
  }
}
#settings-main {
  padding-bottom: 50px;
}
#setStoragePos-button input {
  pointer-events: none;
}

#appearanceSettings {
  .songs {
    height: 300px;
    margin-top: 15px;
  }
}