#currentQueue {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 50;
  background-color: #191919;
  color: white;
  text-align: center;
}
#currentQueue .currentTime {
  position: absolute;
  bottom: 7px;
  left: 7px;
}
#currentQueue .songDuration {
  position: absolute;
  bottom: 7px;
  right: 7px;
}

#currentQueue .currentSong {
  width: 100%;
  height: 200px;
  position: absolute;
}

#currentQueue .currentSong .exit {
  position: absolute;
  left: 0px;
  width: 30px;
  height: 30px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  background-color: rgba(50, 50, 50, 0.3);
  border: 2px solid black;
  border-radius: 50%;
  z-index: 10;
}

#currentQueue .currentSong .exit:hover {
  background-color: #323232;
}

#currentQueue .currentSong .image {
  position: absolute;
  width: 100%;
  left: 0px;
  height: 100%;
  z-index: 0;
}

#currentQueue .currentSong .progressBackground {
  background-color: black;
  border-radius: 5px;
  width: 90%;
  margin: 5%;
  height: 5px;
  position: absolute;
  cursor: pointer;
  bottom: 10px;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.4);
}

#currentQueue .currentSong .progressBackground:hover {
  height: 7px;
  bottom: 9px;
}

#currentQueue .currentSong .progress {
  background-color: red;
  border-radius: 5px;
  width: 0%;
  height: 100%;
  position: absolute;
  pointer-events: none;
}

#queue {
  top: 200px;
  position: absolute;
  height: 440px;
  width: 100%;
}

#currentQueue #musicControls {
  width: 100%;
  position: absolute;
  height: 120px;
  bottom: -50px;
  background-color: #141414;
  z-index: 20;
}

#musicControls .bar_wrapper {
  width: 100%;
  position: absolute;
  height: 50px;
  top: 10px;
}

#musicControls .bar_wrapper > img {
  position: absolute;
  width: 30px;
  height: 30px;
  transform: translateX(-50%);
  cursor: pointer;
  margin-top: 10px;
  transition-duration: 0.3s;
  border-radius: 50%;
  padding: 5px;
}

#musicControls .bar_wrapper > img:hover {
  width: 40px;
  height: 40px;
  margin-top: 5px;
}

#musicControls .bar_wrapper .repeat {
  left: 20%;
}

#musicControls .bar_wrapper .previous {
  left: 35%;
}

#musicControls .bar_wrapper .next {
  left: 65%;
}

#musicControls .bar_wrapper .shuffle {
  left: 80%;
}

#musicControls .bar_wrapper .shuffle.on {
  background-color: red;
}

#musicControls .bar_wrapper .repeat.on {
  background-color: red;
}

#musicControls .play_pause {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 60px;
}

#musicControls .play_pause img {
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: none;
  right: 0px;
  position: absolute;
}

#musicControls .volume {
  width: calc(100% - 100px);
  position: absolute;
  height: 30px;
  bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

#musicControls .volume .volume_input {
  width: 200px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-appearance: none;
  height: 4px;
  background: #d3d3d3;
  outline: none;
  position: absolute;
  bottom: 13px;
}

#musicControls .volume .volume_input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

#musicControls .volume img {
  width: 30px;
  height: 30px;
}

#musicControls .volume .low_volume {
  float: left;
}

#musicControls .volume .high_volume {
  float: right;
}

/*# sourceMappingURL=currentQueue.css.map */
